@charset "UTF-8";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*this stuff is making it so i can see what i'm doing*/
.grid {
  
}

.nested { 
  background-color: teal;
  margin-top:20px;
}

[class*='column-']{
  float: left;
  padding-right: 5px;
  
}

.grid:after {
  /* this is making the grid expand to contain the floated colomns*/
  content: "";
  display: table;
  clear: both;
}
/*This is the stuff thats making it all work!*/
img{
	width:100%;
}
/*header stuff*/
header{}

header img {
  width: auto;
}
.hero{
  width:100%;
  height: 400px; background:url(http://placehold.it/1000x1000) no-repeat;
  background-size:100%;
  background-position:center;
}
.nav{
	
	
	}
	
/*body stuff*/

/*Big Cup*/
body{}
.overlap {
  position:relative;
  top:-100px;
}
.coffee-cup {
  position:relative;
  top:0;
  left:0; 
  z-index:1;
}
.featured-blend {
  top:300px;
  z-index:2;
  position:absolute;
}

	
/*product row 1*/
/*product row 2*/
/*About*/
/*News*/
.overlap2 {
  position:relative;
  top:-200px;
}
.customerinput{
	border: 1px solid black;
}
.customerinput2{
	border: 1px solid black;
	height:80px;
}
/*Contact*/
footer{
	width:100%;
  height: 200px; background:url(http://placehold.it/1000x1000) no-repeat;
  background-size:100%;
  background-position:center;
  }
/*Type info*/

h1{
	padding:35px 100px 0px 0px;
	margin-left: 145px;
	margin-top:20px
}
h2{
	
	}
	

/* Column grid layout */
.column-2-3 {
  width: 66.66%;
}
.column-1-3 {
  width: 33.33%;
}
.column-1-16{
  width: 6.25%;
}
.column-2-16{
  width: 12.5%;
}
.column-3-16{
  width: 18.75%;
}
.column-4-16{
  width: 25%;
}
.column-5-16{
  width: 31.25%;
}
.column-6-16{
  width: 37.5%;
}
.column-7-16{
  width: 43.75%;
}
.column-8-16{
  width: 50%;
}
.column-9-16{
  width: 56.25%;
}
.column-10-16{
  width: 62.5%;
}
.column-11-16{
  width: 68.75%;
}
.column-12-16{
 8 width: 75%;
}
.column-13-16{
  width: 81.25%;
}
.column-14-16{
  width: 87.5%;
}
.column-15-16{
  width: 93.75%;
}
.column-16-16{
  width: 100%;
}
.column-1-10{
  width: 10%;
}
.column-2-10{
  width: 20%;
}

/* Helper Classes*/

.clearfix {
  clear:both;
}
.left {
  float:left
}
.right {
  float:right;
}
.centered {
  float: none;
  margin: 0 auto;
  clear: both;
}
.offset-2-16{
	margin-left:12.5%;
}
.offset-1-16{
	margin-left:6.25%;
}
.offset-10-16{
	margin-left:62.5%;
}
.offset-9-16{
	margin-left:56.25%;
}
.offset-14-16{
	margin-left:87.5%;
}
@media only screen and (max-width: 700px){
	[class*='column-']{
	  width: 100%;
	  clear:both;
	}
	[class*='offset-']{
	  margin-left:0;
	}
	.overlap {
		clear:both;
		position:inherit;
  		top:0;
	}
	.overlap2 {
 		clear:both;
		position:inherit;
  		top:0;
	}

	.featured-blend {
 		 top:0;
  		 position: inherit;
	}
	.collapse {
		width:auto;
		clear:none;
	}
}